<?xml version="1.0" encoding="UTF-8" standalone="no"?><suite name="Suite"><listeners><listener class-name="Utilities.ExtentListener"/></listeners><test name="ExampleTest" thread-count="1"><classes><class name="Flows.LoginLogout"><methods><include name="DemoQA"/><include name="DemoQARegister"/></methods></class><class name="Flows.LoginLogout2"><methods><include name="FirstTestCase"/><include name="SecondTestCase"/><include name="ThirdTestCase"/></methods></class></classes></test></suite>